/* These classes are for a particular font that I'll use for titles and subtitles */
.chakra-petch-regular {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  /* These are the main/root fonts and colors for the website */
  :root {
    --main-font: 'Lato', sans-serif;
    --accent-color: #18323a;        /* A dark, muted teal for a calm accent */
    --secondary-accent: #1e3338;    /* A mid-dark grayish teal */
    --third-accent: #1d4b53;
    --main-bg: #101820;             /* A very dark, almost black background */
    --font-color: #e0e0e0;          /* A light gray for readable text */
    --font-color-accent: #c0c0c0;   /* Slightly darker gray for less important text */
    --secondary-bg: #2b4a56;        /* A darker teal/blue background for sections */
    --pop-color: #577eff;           /* Bright purple/blue for popping elements */
    --links-border: #e0e0e0;        /* Light gray for link borders to contrast with dark background */
    --card-glow: teal;
}
  
  /* This will control the light mode switch for the customer whenever it's either
  set on their device or they click the light/dark mode button */
  .light-mode {
    --accent-color: #c1d1d8;
    --secondary-accent: #7f888b;
    --main-bg: #d9f4fd;
    --font-color: black;
    --font-color-accent: rgb(97, 97, 97);
    --secondary-bg: #9bbed2;
    --pop-color: #001989;
    --links-border: black;
    --card-glow: blue;
  }
  
  body, html {
    background-color: var(--main-bg);
    color: var(--font-color);
    font-family: var(--main-font);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  /* This is for the main navigation bar that will contain the title and the links for
  other websites */
  .navbar {
    align-items: center;
    background-image: linear-gradient(180deg, var(--accent-color), var(--secondary-accent));
    box-shadow: 0px 1px 20px -6px black;
    display: flex;
    height: 60px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  /* The title within the navbar */
  .blog-title {
    color: var(--font-color);
    font-size: 2rem;
    margin: 0;
    margin-left: 2rem;
    padding: 0;
    text-decoration: none;
  }
  
  /* Controls the dark/light mode switch/button */
  #dark-light-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-top: 5px;
    padding: 0;
    transition: all 0.2s;
  }
  
  /* Shrinks the button when pressed/clicked */
  #dark-light-btn:active {
    transform: scale(0.9);
  }
  
  /* Decrease the opacity to ensure the user knows they're hovering over a button */
  #dark-light-btn:hover {
    opacity: 70%;
  }
  
  /* Alter the image for the dark mode button to ensure it fits in the navbar */
  .dk-lt-img {
    width: 1.9rem;
  }
  
  
  /* This will hide the nav toggle and label for the toggle
  until the users display is 800px or less wide */
  .nav-toggle {
    display: none;
  }
  
  .nav-label {
    display: none;
  }
  
  /* Controls the unordered list for the navigation 
  links in the navbar */
  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 4rem;
  }
  
  /* The individual links */
  .nav-link {
    color: var(--font-color);
    font-family: var(--main-font);
    font-size: 1.4rem;
    position: relative;
    text-decoration: none;
  }
  
  /* This ensures that the links don't change when you hover
  or after you vist the link */
  .nav-link:any-link {
    color: var(--font-color);
  }
  
  /* This will create/control the bar that will be animated to
  slid under each of the links */
  .nav-link::after {
    background-color: var(--links-border);
    bottom: -2px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 0.3s;
    width: 0%;
  }
  
  /* This will create that effect when you hover over any
  of the navigation links */
  .nav-link:hover::after {
    width: 100%;
  }

  #current-page {
    color: var(--pop-color);
    font-weight: bolder;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

    /* This is the main content. Where the projects will be. */
.main-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 60px;
    position: relative;
    width: 100vw;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

/* This will be the project section that will be a grid to contain the most
recent projects */
.project-section {
    display: flex;
    flex-direction: column;
    gap: 0.95rem;
    height: 100%;
    width: 100%;
  }
  
  /* The grid in which the projects will reside */
  .projects-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    margin: 0;
    padding: 0 2rem 2rem 2rem;
  }
  
  /* Makes the entire card a link */
  .project-card-link {
    display: block;
    height: fit-content;
    margin: 0;
    position: relative;
    text-decoration: none;
  }
  
  .project-card {
    border-radius: 5px;
    box-shadow: 0px 2px 5px -1px black;
    display: flex;
    flex-direction: column;
    height: 280px;
    margin: 0;
    overflow: hidden;
    transition: 0.4s;
  }
  
  .project-card:hover {
    transform: scale(1.03);
  }
  
  .project-card:hover .card-img {
    opacity: 20%;
  }
  
  .project-card:hover .card-description {
    opacity: 100%;
  }

 /* Creating the top of the cards that will contain the title */
.card-head {
  align-items: center;
  background-color: var(--secondary-bg);
  display: flex;
  font-size: 1.5rem;
  height: 3.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.card-title {
  color: var(--font-color);
  font-weight: 800;
  text-decoration: none;
}

/* This is to control the images for the cards */
.card-img {
  height: 282px;
  position: relative;
  transition: all 0.4s;
  width: 100%;
}

/* This will control the description text for the post cards which will be
hidden until the user hovers */
.card-description {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 800;
  left: 10%;
  position: absolute;
  opacity: 0%;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.4s;
  width: 80%;
}

footer {
  align-items: center;
  background-image: linear-gradient(180deg, var(--accent-color) ,var(--secondary-accent));
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  justify-content: center;
  margin: auto;
  padding: 1.5rem 0 1.5rem 0;
  position:relative;
  width: 100%;
}

.main-footer-content {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  margin: auto;
  position: relative;
  width: 100%;
}
  
  /* This will control the titles for the sections in the footer */
  .footer-section-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    position: relative;
  }
  
  /* Creating this to control the layout of my networking links */
  .networking-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    list-style: none;
    padding: 0;
    position: relative;
    width: fit-content;
  }
  
  .networking-links a {
    margin: 0;
    padding: 0;
    width: auto;
  }
  
  #github-logo, #goodreads-logo, #linkedin-logo {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    width: 2rem;
  }
  
  #github-logo:hover, #goodreads-logo:hover, #linkedin-logo:hover {
    transform: scale(1.2);
  }
  
  /* this is to contain the individual page links */
  .page-links-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* This controls the individual page links */
  .page-link {
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 550;
    position: relative;
    text-decoration: none;
    width: fit-content;
  }
  
  .page-link::after {
    background-color: var(--font-color);
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 0.3s;
    width: 0%;
  }
  
  .page-link:hover::after {
    width: 100%;
  }
  
  /* This will control the items for the contact section and will contain them */
  .contact-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }
  
  /* Controls the individual items in the contact section */
  .contact-info {
    font-size: 1.2rem;
    font-weight: 550;
    margin: 0;
  }
  
  .contact-link {
    margin: 0;
    padding: 0;
    width: auto;
  }
  
  #x-logo {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    width: 2rem;
  }
  
  #x-logo:hover {
    transform: scale(1.2);
  }

  .copyright {
    text-align: center;
  }

  @media screen and (max-width: 1400px) {
    /* Switches the content to a column instead of a row */
    .main-content {
      flex-direction: column;
      gap: 0;
      padding-top: 20px;
    }

    .section-title {
        margin-top: 0;
      }

    /* Allows the project section to take up the entire width of the screen */
  .project-section {
    width: 100%;
  }
  }

  @media screen and (max-width: 800px) {
    /* Creating the nav label as an object with a width height
    and background color to make a design and animation with it. */
    .nav-label, .nav-label::before, .nav-label::after {
      background-color: var(--pop-color);
      border-radius: 20px;
      cursor: pointer;
      display: block;
      height: 4.5px;
      margin: auto;
      margin-right: 2rem;
      padding: 0;
      transition: all 0.3s;
      width: 35px;
  }

  .nav-label::before, .nav-label::after {
    content: "";
}

.nav-label::before {
  transform: translateY(0.45rem);
}

.nav-label::after {
    transform: translateY(-0.7rem);
}

/* Create the changed classes to change up the postioning
of the label after clicked. Will perform an animation. */
.label-changed {
    transform: rotate(360deg);
    background-color: transparent;
}

.nav-label.label-changed::before {
    transform: translateY(0.1rem) rotate(45deg);
}

.nav-label.label-changed::after {
    transform: translateY(-0.2rem) rotate(-45deg);
}

/* This pushes the navigation links off the screen 
until the label/checkbox is clicked/pressed */
.nav-links {
  align-items: flex-start;
  background-color: var(--secondary-accent);
  border: 3px solid var(--links-border);
  border-radius: 20px 0 0 20px;
  border-right: 0;
  flex-direction: column;
  height: fit-content;
  margin: 0;
  padding: 3rem 2rem 3rem 2rem;
  position: absolute;
  right: -60%;
  text-wrap: nowrap;
  top: 65px;
  width: fit-content;
}

.nav-link {
  font-size: 1.8rem;
  position: relative;
}

/* Removing the underline effect from the links */
.nav-link::after {
  height: 0;
}

/* Create the classes for the links sliding animation */
.slide-links-in {
  animation: slide-links-in 0.5s ease forwards;
}

.slide-links-out {
  animation: slide-links-out 0.5s ease forwards;
}

/* Create keyframes to control the animations for sliding the links on and off
the page */
@keyframes slide-links-in {
  from {
      right: -60%;
  }
  to {
      right: 0%;
  }
}

@keyframes slide-links-out {
  from {
      right: 0%;
  }
  to {
      right: -60%;
  }
}

}
  
  @media screen and (max-width: 686px) {
    .projects-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 0.85fr));
    }
  }

  @media screen and (max-width: 625px) {
    .blog-title {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
  
    footer {
      align-items: center;
  }
  
    .main-footer-content {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }
  
    .networking-links {
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 450px) {
    .blog-title {
      font-size: 1.3rem;
    }
  }

/* For touch devices (mobile, tablet) */
@media (hover: none) and (pointer: coarse) {
  /* Flip card container */
  .post-card {
    perspective: 1000px;
    transition: transform 0.4s;
  }

  .project-card {
    overflow: hidden;
    perspective: 1000px;
    transition: transform 0.4s;
  }

  .card-inner {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100%;
  }

  /* Front and back of the card */
  .card-front,
  .card-back {
    backface-visibility: hidden;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  /* Front of the card */
  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }

  /* Back of the card */
  .card-back {
    align-items: center;
    background-color: var(--secondary-bg);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    padding: 1rem;
    transform: rotateY(180deg);
  }

  /* Flip the card when it's active */
  .post-card.flipped .card-inner {
    transform: rotateY(180deg);
  }

  /* Disable hover effect for touch devices */
  .post-card:hover {
    box-shadow: none;
    opacity: 100%;
    transform: none;
  }

  .post-card:hover .card-description {
    opacity: 0%;
  }

  .post-card:hover .card-img {
    opacity: 100%;
  }

  .project-card:hover {
    box-shadow: none;
    opacity: 100%;
    transform: none;
  }

  .project-card:hover .card-description {
    opacity: 0%;
  }

  .project-card:hover .card-img {
    opacity: 100%;
  }

    /* The flipped class will rotate the card */
.post-card.flipped .card-inner,
.project-card.flipped .card-inner {
  transform: rotateY(180deg);
}

  .post-card.flipped .card-description {
    opacity: 100%;
  }

  .card-description {
    padding: 0 10%;
      top: 10%;
      width: auto;
  }

}

/* Desktop and non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .post-card {
    position: relative; /* Make sure the card itself is relative to position the description properly */
    transition: 0.4s ease;
  }

    /* Front and back should behave as normal */
    .card-front {
      position: relative;
      height: 100%;
      width: 100%;
    }

  /* Card description hidden by default */
  .card-description {
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease-in-out;
    position: absolute; /* Position description absolutely inside the card */
    top: 45%; /* Vertically center */
    left: 10%; /* Horizontally center with space */
    width: 80%; /* Make sure it takes appropriate width */
    text-align: center; /* Center the text */
    font-weight: 800;
    color: var(--font-color);
    transform: translateY(-50%); /* Center the text vertically */
    z-index: 3; /* Ensure it's above the image */
  }

  /* Show the description on hover */
  .post-card:hover .card-description {
    opacity: 1; /* Show description on hover */
  }

  /* Ensure the image dims on hover */
  .post-card:hover .card-img {
    opacity: 0.2; /* Dim the image */
    transition: opacity 0.3s ease-in-out;
  }

  /* Ensure the card hover effect applies */
  .post-card:hover {
    transform: scale(1.03);
  }

  .project-card {
    overflow: hidden;
    position: relative; /* Make sure the card itself is relative to position the description properly */
    transition: 0.4s ease;
  }

  /* Show the description on hover */
  .project-card:hover .card-description {
    opacity: 1; /* Show description on hover */
  }

  /* Ensure the image dims on hover */
  .project-card:hover .card-img {
    opacity: 0.2; /* Dim the image */
    transition: opacity 0.3s ease-in-out;
  }

  /* Ensure the card hover effect applies */
  .project-card:hover {
    transform: scale(1.03);
  }

  
}
